html,body{height: 100%;}  


#wrap{width: 100%; height: 100%; background-color: #ccc;}

h1{padding-top:2rem; box-sizing:border-box; 
  margin:auto; width: 150px;
  height: 130px;  
  background-image: url('../../../img/main/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;}


h1>a{display: block;width: 100%;height: 100%;}

#headBox>p{margin: auto;
padding-top: 100px; box-sizing: border-box;
width: 668px; height: 280px;
background-color: transparent;
color:#fff; font-size: 3rem;
text-transform: uppercase;
text-align:center; line-height:70px;
border:1px solid #fff;}

#headBox{padding-top: 30px;box-sizing:border-box;
width: 100%;height: 1100px;
background-image:url('../../../img/bg_6-2.jpg');
background-repeat: no-repeat;
background-position:center;
-webkit-background-size: cover;
background-size: cover;}


#gnb{margin:auto; margin-top: -500px; width:924px; height: 180px;}
#gnb>ul{/*padding-bottom: 200px;box-sizing:border-box;*/
width: 100%; height: 100%;}

#gnb li{float:left; width: 130px; height: 50px; 
 margin-right: 24px;}
#gnb li:last-child {margin-right: 0;}
#gnb li>a{width: 100%; height: 100%;
  color:#fff; font-size: 1rem; text-align:center;
  text-transform: uppercase;font-weight: 400;
  line-height: 150%;}
#gnb li>a:hover{color:#628ade;}
#gnb li>ol{width: 120px;height: 20px; margin-top: 10px;}
#gnb li>ol>li{width: 100%;height: 100%;}

#gnb li>ol>li>a{width: 120px;height: 40px; color:#fff; font-size:0.7rem; font-weight:lighter;
  text-align:center; text-transform:uppercase;}

#gnb_1{display: none;}

#headBox>h2{margin-top: 200px;color:#fff;
font-size: 2rem; text-align: center;
text-transform: uppercase;
margin-bottom: 100px;letter-spacing:3px;}

/*#headBox>h2{margin: auto;
padding-bottom:50px; box-sizing:border-box;
color:#fff; font-size: 3rem;
text-transform: uppercase;
text-align:center;}*/


#ex{margin: auto;}


#search>input{width: 100%;height: 100%;
color:#000; font-size: 0.8rem;
text-transform: uppercase;
background-color: rgba(255,255,255,0.7);}

#search_btn{background-color: #465E91;
text-transform:uppercase;
text-align:center;
font-size:0.8rem; color:#fff;}

#search_btn:hover,
#search_btn:focus{background-color: #fff;
color:#465e91;}

/*pcfull*/
 @media screen and (min-width:1366px) {

#ex{margin: auto;
width: 934px;height: 62px;}
 #search{float:left; 
width: 764px; height: 62px;}
#search_btn{float:left; 
/*margin-left: 40px;*/width: 130px;height: 62px;}

 }
/*latop*/
 @media screen and (min-width:768px) and (max-width:1365px) {
#headBox{height: 1100px;}
#gnb{height: 13vw;}
/*#gnb>ul{height: 13vw;}*/
#gnb>ul{margin: auto;width: 85%; height: 100%;}
#gnb li{width: 100px;
 margin-right: 20px;}
#gnb li:last-child{width: 120px;}
#gnb li>a{font-size: 0.8rem;}

#ex{margin: auto;
width: 760px;height: 62px;}
#search{float:left; 
width: 600px; height: 62px;}
#search_btn{float:left; 
/*margin-left: 30px;*/width: 130px;height: 62px;}
#headBox>p{font-size: 1.5rem;}
/*#ex{margin: auto;width: 90vw;height: 62px;}
#search{width: 70vw; height: 62px;}
#search_btn{ 
margin-left: 2.9282vw;width: 12.516vw;height: 62px;
font-size:1rem;}*/
 }
 /*tablet*/
 @media screen and (min-width:481px) and (max-width:767px){
#headBox{height: 800px;}

#ex{margin: auto;
width: 90%;height: 62px;}
#search{float:left; 
width: 80%; height: 62px;}
#search_btn{float:left; 
/*margin-left: 5%;*/width: 15%;height: 62px;}


#logobox{width:150px; height: 35px;}
  h1{width: 150px;height: 35px;}  
 #gnb{display: none;}
 #gnb_wrap{position:relative;/*display: none;*/height: 100%;}
  .gnb_btn{float:left; position: absolute; left: 0; top: 70px; 
        width: 30px; height: 30px;}
  .gnb_btn>button{position: absolute; 
    top:-580px; left:100px;
    z-index:2000;
    width: 100%; height: 100%; padding: 0; transition:all 500ms ease;}
  .icon{display: block; width: 100%; height: 4px; 
    background-color: #fff; 
    position: absolute; ;transition:all 500ms ease;}
  .icon:before {content:" "; display: block; 
  width: 100%; height: 4px; background-color: #fff;
  position: absolute; top: -0.7rem; transition:all 500ms ease;}
  .icon:after {content:" "; display:block; 
   width:100%; height:4px; background-color:#fff;
   position: absolute; bottom: -0.7rem; transition:all 500ms ease;}


  .gnb_btn>button.active {transform:rotateY(540deg)}
  .gnb_btn>button.active.icon{background:transparent;}
  .gnb_btn>button.active.icon:before{transform-origin:left top; width:130%; transform:rotate(40deg);}
  .gnb_btn>button.active.icon:after{transform-origin:left bottom; width: 130%;  transform:rotate(-40deg);}

  #gnb_1{/*display: none;*/position:absolute;z-index:500;
  top:0; left:0; margin-top: -100px;
  width: 100%;height: 120%;
  background-color:rgba(0,0,0,0.8);}
  #gnb_1>ul{position:absolute; top:20%;
  z-index:1000; 
  margin: auto; width: 100%; height: 100%;}
  #gnb_1>ul>li{margin: auto;width: 100%;height: 30px;
  font-size: 2rem; text-transform: uppercase;
  padding: 3rem; box-sizing: border-box; line-height:10px;
  text-align: center;}
  #gnb_1>ul>li>h3>a{width: 100%; height: 100%; color:#fff; font-size: 1.5rem;}

#headBox>p{margin: auto;
padding-top: 100px; box-sizing: border-box;
width: 480px; height: 280px;
background-color: transparent;
color:#fff; font-size: 1rem;
text-transform: uppercase;
text-align:center; line-height:70px;
border:1px solid #fff;}
}
 /*mobile*/
 @media screen and (max-width:480px){
  #headBox{height: 700px;}
  h1{margin: auto;width: 31.25vw;height: 35px; 
 /* padding-top: 31.25vw; */box-sizing: border-box;}
 #ex{margin: auto;
width: 90%;height: 62px;}
#search{float:left; 
width: 75%; height: 50px;}
#search_btn{float:left; 
margin-left: 5%;width: 18%;height: 50px;}
 #gnb{position:relative; display: none;}
  #gnb_wrap{position:relative;/*display: none;*/ height: 100%;}
  .gnb_btn{position: absolute; left: 0; top: 70px; 
        width: 30px; height: 30px;}
  .gnb_btn>button{position: absolute; 
    top:-580px; left:50px;
    z-index:2000;
    width: 100%; height: 100%; padding: 0; transition:all 500ms ease;}
  .icon{display: block; width: 100%; height: 4px; 
    background-color: #fff; 
    position: absolute; ;transition:all 500ms ease;}
  .icon:before {content:" "; display: block; 
  width: 100%; height: 4px; background-color: #fff;
  position: absolute; top: -0.7rem; transition:all 500ms ease;}
  .icon:after {content:" "; display:block; 
   width:100%; height:4px; background-color:#fff;
   position: absolute; bottom: -0.7rem; transition:all 500ms ease;}


  .gnb_btn>button:focus {transform:rotateY(540deg)}
  .gnb_btn>button:focus .icon {background:transparent;}
  .gnb_btn>button:focus .icon:before {transform-origin:left top; width:130%; transform:rotate(40deg);}
  .gnb_btn>button:focus .icon:after {transform-origin:left bottom; width: 130%;  transform:rotate(-40deg);}

  #gnb_1{/*display: none;*/position:absolute;z-index:500;
  top:10%; left:0; margin-top: -100px;
  width: 100%;height: 120%;
  background-color:rgba(0,0,0,0.8);}
  #gnb_1>ul{position:absolute; top:5%;
  z-index:1000; 
  margin: auto; width: 80%; height: 100%;}
  #gnb_1>ul>li{margin: auto;width: 100%;height: 30px;
  font-size: 2rem; text-transform: uppercase;
  padding: 3rem; box-sizing: border-box; line-height:10px;
  text-align: center;}
  #gnb_1>ul>li>h3>a{width: 100%; height: 100%; color:#fff; font-size: 1rem;}
  #headBox>p{margin: auto;
  padding-top: 100px; box-sizing: border-box;
  width: 80%; height: 280px;
  background-color: transparent;
  color:#fff; font-size: 1rem;
  text-transform: uppercase;
  text-align:center; line-height:70px;
  border:1px solid #fff;}
 }

