
html,body{height: 100%;}  



#footBox1{margin: auto; width:100%; height:400px; background-color: #fff;}



#sns{width: 100%;height: 130px; background-color: #fff;}
#sns>ul{margin: auto; margin-top: 5vw;
width: 200px; height: 50px;}
#sns>ul>li{float:left; box-sizing: border-box;
width: 50px; height: 50px;border-radius:100%; margin-right: 20px; border: solid 1px #ddd;}
#sns>ul>li:last-child{margin-right: 0;}
#footBox1>#sns>ul>li>a{display: block;color:#333;width: 100%;height: 100%;
text-align: center; line-height: 50px;}
#footBox1>#sns>ul>li:hover>a{color:#fff; background-color: #343434;
border-radius: 100%;}


#footBox1>p{
margin:auto; width: 768px;height: 52px; font-size: 0.5rem;
text-align:center; }

#fnb{margin:auto; margin-top: 10px; width:924px; height: 180px;}
#fnb>ul{width: 100%; height: 100%;}

#fnb li{float:left; width: 100px; height: 50px; 
 margin-right: 24px;}
#fnb li:last-child {margin-right: 0;}
#fnb li>a{width: 100%; height: 100%;
  color:#000; font-size: 1rem; text-align:center;
  text-transform: uppercase;font-weight: 400;
  line-height: 150%;}
#fnb li>a:hover{color:#628ade;}
#fnb li>ol{
width: 120px;height: 20px; margin-top: 10px;}
#fnb li>ol>li{width: 100%;height: 100%;}

#fnb li>ol>li>a{width: 120px;height: 40px; color:#000; font-size:0.7rem; font-weight:lighter;
  text-align:center; text-transform:uppercase;}


#footBox2{margin: auto; width:100%; height:100px; background-color: #343434;}
#footBox2>h2{margin: auto;
  width: 80px;height: 44px; 
  background-image: url('../../img/main/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;}

#footBox2>h2>a{display: block;width: 100%; height: 100%;}
#fnb>ul{margin: auto;width: 85%; height: 100%;}
#fnb li{width: 100px;
 margin-right: 20px;}
#fnb li:last-child{width: 120px;}
#fnb li>a{font-size: 0.8rem;}
#footBox1>#sns>ul>li>a{font-size: 1.5rem;}

 /*pcfull*/
 @media screen and (min-width:1366px) {
#fnb>ul{margin: auto;width: 85%; height: 100%;}
#fnb li{width: 100px;
 margin-right: 20px;}
#fnb li:last-child{width: 120px;}
#fnb li>a{font-size: 0.8rem;}
#footBox1>#sns>ul>li>a{font-size: 1.5rem;}
}
/*latop*/
 @media screen and (max-width:768px) and (min-width:1365px) {
  #footBox1{width: 100%;height: 100px;}
  #sns{height: 100px;} 
  #sns>ul>li{float:left; box-sizing: border-box;
width: 50px; height: 50px;border-radius:100%; margin-right: 20px; border: solid 1px #ddd;}
#sns>ul>li:last-child{margin-right: 0;}
#footBox1>#sns>ul>li>a{display: block;color:#333;width: 100%;height: 100%;
text-align: center; line-height: 50px; font-size: 1rem;}
#footBox1>#sns>ul>li>a{font-size: 1.5rem;}
  #footBox2{height: 50px;}
  #footBox2>h2{padding-top: 100px;box-sizing: border-box;}
  }

/*tablet*/
 @media screen and (min-width:481px) and (max-width:767px){
  #footBox1{width: 100%;height: 100px;}
  #sns{height: 100px;}
  #sns>ul{margin: auto; margin-top: 10vw;
  width: 170px; height: 50px;}
  #sns>ul>li{width: 40px; height: 40px;  margin-right: 20px;}
  #sns>ul>li>a{width: 100%;height: 100%;
  font-size:1rem; text-align: center;}
  #sns>ul>li:hover>a{color:#fff; background-color: #343434;
  border-radius: 100%;}
  #fnb{display: none;}
  #footBox1>h4{display: none}
  #footBox2{height: 100px;}
  #footBox2>h2{padding-top: 100px;box-sizing: border-box;}
 #footBox1>p{display: none;}

#fnb>ul{margin: auto;width: 85%; height: 100%;}
#fnb li{width: 100px;
 margin-right: 20px;}
#fnb li:last-child{width: 120px;}
#fnb li>a{font-size: 0.8rem;}

  }

/*mobile*/
 @media screen and (max-width:480px){
  #footBox1{width: 100%;height: 80px;}
  #sns{margin: auto;width: 100%;height: 100px;} 
  #sns>ul{margin:auto;width: 140px; height: 20px; margin-top: 30px;}
  #sns>ul>li{width: 40px;height: 40px;margin-right: 10px;}  
  #sns>ul>li:last-child{margin-right: 0;}
  #sns>ul>li>a{float:left;
  width: 100%; height: 100%; text-align:center;
  border-radius:100%;  font-size: 1rem;}

  #sns>ul>li:hover>a{color:#fff; background-color: #343434;
  border-radius: 100%;}


  #fnb{display: none;}
  #footBox1>p{display: none;}
  #footBox1>h4{display: none}
  #footBox2{height: 100px;}
  #footBox2>h2{padding-top: 100px;box-sizing: border-box;
  width: 16.6vw;height: 30px;}
  }